@font-face {
    font-family: 'Muli';
    src: url("../../assets/fonts/Muli/Muli-Regular.ttf");
}

@font-face {
    font-family: 'Muli';
    font-weight: bold;
    src: url("../../assets/fonts/Muli/Muli-Bold.ttf");
}

@font-face {
    font-family: 'Sacramento';
    src: url("../../assets/fonts/Sacramento/Sacramento-Regular.ttf");
}

@font-face {
    font-family: 'Arapey';
    src: url("../../assets/fonts/Arapey/Arapey-Regular.ttf");
}

