footer{
    position: relative;
}

.footer{
    
    &__container{
        position: absolute;
        top: 50%;
        left: 50%;
        @extend .container;
        transform: translate(-50%,-50%);
        display: flex;
        text-align: center;
        z-index: 1000;
    }

    &__newlestter{
        @extend .col-lg-5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__location{
        @extend .col-lg-3;
    }

    &__social{
        @extend .col-lg-4;
    }

    &__title{
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: #ffffff;
        margin-bottom: 45px;

        &--updates{
            font-family: 'Sacramento', cursive;
            font-size: 32px;
            width: 100%;
            margin: 0;
            margin-bottom: 28px;
        }

    }

    &__text{
        font-family: 'Muli', sans-serif;
        font-size: 0.875rem;
        color: #ffffff;
        margin: 0;
        margin-bottom: 4px;
    }

    &__newlestter-email{
        font-family: 'Muli', sans-serif;
        color: #444444;
        background: rgba(255, 255, 255, 0.5);
        border: none;
        padding: 15px 26px;
        width: 323px;
    }

    &__social-icon{
        display: inline-block;
        height: 30px;
        width: 30px;
        font-size: 30px;
        position: relative;
        top: -15px;
        padding: 15px;
        border-radius: 50%;
        transition: all .3s ease;

        &:hover{
            &.facebook{ background: #3b5999; }
            &.twitter{ background: #55acee; }
            &.instagram{ background: #e4405f; }
            &.youtube{ background: #cd201f; }
        }
    }
}