.about{
    max-height: 100%;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    
    &.lazyloaded{
        background-image: url('../../assets/img/About/background.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    @include atSmall{
        padding-top: 3.3125rem;
        padding-bottom: 1.4375rem;
    }

    @include atMedium{
        padding-top: 4.5625rem;
        padding-bottom: 6.4375rem;
    }

    @include atLarge{
        padding-top: 4.5625rem;
        padding-bottom: 6.4375rem;
    }

    &__container{
        @extend .flex-center;
        flex-wrap: wrap;

        @include atMedium{
            flex-wrap: nowrap;
        }

    }

    &__info{
        @extend .col-lg-6;
        font-family: 'Muli', sans-serif;
        text-align: center;

        @include atMedium{
            text-align: left;
            padding-left: 2.5rem;
        }

        @include atLarge{
            padding-left: 0;
        }
    }

    &__title{
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
        color: #ffffff;

        @include atSmall{
            font-size: 2.25rem
        }

        @include atMedium{
            font-size: 1.625rem;
        }

        @include atLarge{
            font-size: 2.25rem;
        }
    }
    
    &__subtitle{
        margin-top: 1.5625rem;
        font-size: 1rem;
        color: #979797;

        @include atSmall{
            margin-top: 2.25rem;
            font-size: 1.25rem;
        }

        @include atMedium{
            font-size: 1.125rem;
        }

        @include atLarge{
            font-size: 1.25rem;
        }
    }
    
    &__description{
        font-size: 0.875rem;
        width: 100%;
        max-width: 100%;
        color: #979797;

        @include atSmall{
            font-size: 1rem;
            max-width: 80%;
            margin: auto;
        }

        @include atMedium{
            margin: 0;
        }
    }

    &__images{
        @extend .col-lg-6;
        display: flex;
        margin-top: 2.8125rem;
        min-height: 18.9375rem;

        @include atMedium{
            margin-top: 0;
            display: flex;
            align-items: center;
        }

        @include atLarge{
            margin-top: 2.8125rem;
        }
    }

    &__image{
        width: 50%;
        height: 12.5rem;

        @include atMedium{
            width: 10.625rem;
            height: 8.125rem;
        }

        @include atLarge{
            width: 20.3125rem;
            height: 13.75rem;
        }

        &--right{
            float: right;
        }

        &--move-up{
            @include atMedium{
                transform: translateY(-50%);
            }
        }
    }

}