.btn{
    font-family: 'Arapey', sans-serif;
    font-size: 1rem;
    background: #ffffff;
    color: #000000;
    padding: 0.625rem 3.125rem;
    transition: all .3s ease;

    &--transparent{
        background: none;
    }

    &--border-white{
        color: #ffffff;
        border: 1px solid #ffffff;

        &:hover{
            background: #ffffff;
            color: #444444;
        }
    }

}