.features{
    padding-top: 127px;
    padding-bottom: 127px;
    background-image: url('../../assets/img/Features/wall-background.png');
    background-size: contain;
    background-repeat: repeat;

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.feature{
    @extend .col-lg-12;
    display: flex;
    justify-content: center;
    margin: 58px 0;

    &__info{
        background: #ffffff;
        color: #444444;
        text-align: center;
        width: 405px;
        height: 293px;
        z-index: 300;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all .3s cubic-bezier(.25,.8,.25,1);

        &:hover{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

    &__image{
        position: relative;
        top: 72px;
        width: 407px;
        height: 280px;

        &--is-right{
            left: -65px;
        }

        &--is-left{
            left: 65px;
        }
    }

    &__title{
        font-family: 'Muli', sans-serif;
        font-size: 24px;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 1px;
        transform: scaleX(0.75);
        letter-spacing: 4px;
    }

    &__description{
        font-family: 'Arapey', cursive;
        font-size: 16px;
        margin: 0 auto;
        margin-top: 40px;
        max-width: 240px;
    }

}