.menu{
    padding-top: 4.375rem;
    padding-bottom: 11.6875rem;

    @include atSmall{
        padding-top: 0px;
    }

    &__title-food{
        font-family: 'Muli', sans-serif;
        font-size: 2.75rem;
        letter-spacing: 4px;
        text-align: center;
        color: #E2E2E2;
        margin: 0;

        @include atSmall{
            font-size: 4.5rem;
        }
    }

    &__title-container{
        width: 80%;
        margin: auto;
        margin-top: 1.6875rem;

        @include atSmall{
            width: 32.8125rem;
            margin-top: 0.9375rem;
        }
    }

    &__frame{
        width: 14.375rem;
        height: 5.8125rem;
        margin: auto;
        background: #ffffff;
        transform: translateY(-50%);
    }

    &__frame-image{
        width: 100%;
        height: 100%;
    }

    &__title{
        position: relative;
        top: -6.875rem;
        font-family: 'Sacramento', cursive;
        font-size: 2.875rem;
        text-align: center;
    }

    &__slogan{
        font-family: 'Muli', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 4px;
        color: $mainBlack;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1.875rem;
        transform: scaleX(0.75);

        @include atSmall{
            margin-top: 0.83rem;
            margin-bottom: 2.6875rem;
        }

        &--red{
            color: $mainRed;
        }
    }

}