.separator{
    height: 2px;
    width: 70%;
    margin: auto;
    background: black;

    @include atSmall{
        width: 300px;
    }

    &--white{
        background: #ffffff;
    }

    &--ml-md{
        @include atMedium{
            margin-left: 0;
        }
    }

    &--dotted{
        display: inline;
        font-size: 1.75rem;
    }
}