.slide-item{

    &--left{
        @include atMedium{
            position: relative;
            transition: all 1s ease-out;
            left: -80px;
        }
    }
    
    &--right{
        @include atMedium{
            position: relative;
            transition: all 1s ease-out;
            right: -80px;
        }
    }

    &--left-is-slided{
        left: 0;
    }

    &--right-is-slided{
        right: 0;
    }

}